body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 25px;
    color: #EDEDED;
    background-color: black;
}

::selection {
  background: #AAA; /* WebKit/Blink Browsers */
}

.intro {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

    width: 300px;
}

.intro h1, .intro p {
    text-align: center;
}

#error {
    display: none;
    text-align: center;
}

#hints {
    display: none;
    font-family: 'Lato', sans-serif;
    position: absolute;
    left: 0;
    bottom: 20px;
    font-size: 17px;
    font-weight: 300;
}

#hints li {
    margin-top: 8px;
}

.node {
    position: absolute;
    cursor: default;
}

#listener {
    display: none;
}

.editable {
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 25px;
  color: #EDEDED;
  background-color: black;
  border: none;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

textarea:focus, input:focus{
    outline: none;
}


ul {
    list-style-type: none;
}

.selected {
    border: 1px dashed white;

    padding-top: 6px;
    padding-bottom: 3px;
    padding-left: 12px;
    padding-right: 12px;

    margin-top: -7px;
    margin-left: -13px;
}

.keyword {
    font-weight: 700;
}

a {
  color: #fc6f44;
}
