body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 25px;
    color: #EDEDED;
    background-color: black;
}

::selection {
  background: #AAA; /* WebKit/Blink Browsers */
}

#directions {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

    width: 300px;
}

.node {
    position: absolute;
}

#listener {
    display: none;
}
